@import '../../core/variables';
@import "../../core/queries";

.my-filter-component {
  position: relative;

  @include mq-641 {
    flex: 1;
  }

  .filter__input {
    height: 30px;
    border: 1px solid $main-color;
    border-radius: 5px;
    outline: none;
    padding: 0 25px 0 10px;
    background: rgba(0, 0, 0, 0.15);
    width: 100%;

    &::placeholder {
      color: rgba(0, 0, 0, 0.72);
    }
  }

  .my-button-component {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
