@import '../../../core/variables';

.my-filter-component {
  position: relative;

  .filter__input {
    height: 30px;
    border: 1px solid $main-color;
    border-radius: 5px;
    outline: none;
    padding: 0 25px 0 10px;
  }

  .my-button-component {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
