@import '../../../core/variables';

.my-category-component {
  display: flex;
  color: $second-color;
  border: 1px solid $main-color;
  border-radius: 4px;
  padding: 3px;
  justify-content: flex-start;
  margin-bottom: 2px;
  cursor: default;
}