@import '../../core/variables';
@import "../../core/queries";

$primary-br: 10px;
$secondary-br: $primary-br - 1px;

.my-progressbar-component {
  border: 1px solid $main-color;
  border-radius: $primary-br;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0.7), #e2e2e2);
  box-shadow: inset 0 1px  rgba(0, 0, 0, 0.3);

  @include mq-641 {
      margin-top: 1rem;
  };

  .progressbar__state {
    border-radius: $secondary-br;
    height: 20px;
    background: $not-completed-progressbar;
    width: 0;
  }

  .progressbar__state_full {
    background: $completed-progressbar;
  }
}
