@import '../../core/variables';
@import './media-queries.scss';

.my-progressbar-component {
  border: 1px solid $main-color;
  border-radius: 5px;
  height: 15px;
  width: 100%;

  @include my-progressbar-component-mq;

  .progressbar__state {
    border-radius: 4px;
    height: 13px;
    width: 0;
    background: $progressbar-color;
  }

  .progressbar__state_full {
    background: rgb(37, 163, 5);
  }
}
