@import '../../core/variables';

.my-textbox-component {
  margin-bottom: 20px;
  max-width: 100%;
  min-width: 50%;
  height: 2rem;
  display: flex;
  flex-flow: row nowrap;

  .my-textInput-component {
    flex: 1;
  }
  
  .my-button-component {
    flex: 0 0 4rem;
    height: inherit;
    border-radius: 0 7px 7px 0;
  }
}
