@import '../../core/variables';

.my-checkBoxInput-component {
  cursor:pointer;
  height: inherit;
  width: 2rem;
  opacity: .8;
  transition: all .3s ease;

    &:hover {
      opacity: 1;
    }

  .checkBoxInput-hidden-input {
    display: none;

    &:checked + .checkBoxInput-styled-span {
      background-color: $second-color;
    }
  }

  .checkBoxInput-styled-span {
    display: block;
    position: relative;
    border: 1px solid $main-color;
    border-radius:0 7px 7px 0;
    width: inherit;
    height: inherit;
    background-color: $third-color;
    transition:all 0.2s ease-in-out;
    box-shadow:inset 0 0 10px rgba(0,0,0,.6);
    font-size: 10px;

  }
}
