@import '../../core/variables';
@import '../../core/queries';

.my-category-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $second-color;
  border: 1px solid $main-color;
  padding: 3px;
  margin: 0 1px 2px 0;
  border-radius: 4px;
  cursor: default;
  background: $category-bg-color;

  .my-button-component {
    margin: 0 5px 0 0;
  }

  p {
    margin: 0;

    @include mq-641 {
      max-width: 8.3rem;
      word-wrap: break-word;
    }
  }
}
