@import "../../core/variables";
@import "../../core/queries";

.my-sidebar-component {
  display: flex;
  flex-direction: column;

  @include mq-641 {
    margin-bottom: 1rem;
  };

  .sidebar {
    flex: 1;
    overflow-y: scroll;
  }
}
