.my-tasklist-component {
  display: flex;
  flex-direction: column;

  .my-textbox-component {
    margin-left: auto;

    @media only screen and (max-width: 641px) {
      & {
        margin-left: 0;
      }
    }
  }

  .tasklist {
    flex: 1;
    overflow-y: scroll;
  }
}
