@import "./media-queries";

.my-tasklist-component {
  display: flex;
  flex-direction: column;

  .my-textbox-component {
    margin-left: auto;

    @include my-textbox-component-mq;
  }

  .tasklist {
    flex: 1;
    overflow-y: scroll;
  }
}
