@import '../../core/variables';
@import "../../core/queries";

.my-header-component {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;

  .title {
    flex-grow: 3;
  }
}
