@import '../../../core/variables';

.my-progressbar-component {
  border: 1px solid $main-color;
  border-radius: 5px;
  height: 15px;
  width: 100%;

  .progressbar__state {
    border-radius: 4px;
    height: 13px;
    width: 0;
    background: $progressbar-color;
  }
}
