.my-button-component {
  display: block;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  border: 1px solid grey;
  box-shadow: 0 2px 0px rgba(0,0,0,.1), inset 0 2px 0px rgba(255,255,255,.6), 0 0px 20px rgba(0,0,0,.1), 0 3px 20px rgba(0,0,0,.25);
  outline: none;
  height: 20px;
  width: 20px;

  &:active {
    box-shadow:inset 0 2px 0px rgba(0,0,0,.1),  0 2px 0px rgba(255,255,255,.4), inset 0 0px 20px rgba(0,0,0,.2);
  }
}

.button-add {  
  background-image: url('./add.svg');
}

.button-delete {  
  background-image: url('./delete.svg');
}

.button-edit {  
  background-image: url('./edit.svg');
}

.button-clear {  
  background-image: url('./clear.svg');
}

.button-swap{  
  background-image: url('./swap.svg');
}