.my-edit-page-component {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
    display: flex;
    align-items: stretch;

    .my-sidebar-component {
      flex: 1;
    }

    .my-editTask-component {
      margin-left: 30px;
      flex: 1 0 30%;
    }
  }
}



