@import "../../core/queries";

$page-margin: 2vw;

.my-main-page-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 $page-margin;

  .main {
    flex: 1;
    display: flex;
    max-width: 100%;

    @include mq-641 {
      flex-direction: column;
    }
  }

  .main__sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include mq-641 {
      max-width: 100%;
    }

    .my-sidebar-component {
      flex: 1;
    }
  }

  .my-tasklist-component {
    flex: 2;

    @include mq-780 {
      flex: 1;
    }

    @include mq-641 {
      max-width: 100%;
    }
    
  }
}
