@import "../../core/queries";


.my-main-page-component {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
    display: flex;
    max-width: 100%;
    padding: 0 $page-padding;


    @include mq-641 {
      flex-direction: column;
    }
  }

  .main__sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include mq-641 {
      max-width: 100%;
    }

    .my-sidebar-component {
      flex: 1;
    }
  }

  .my-tasklist-component {
    flex: 2;

    @include mq-780 {
      flex: 1;
    }

    @include mq-641 {
      max-width: 100%;
    }

  }
}
