.Button {
  width: 100px;
  min-height: 36px;
  border: 0;
  outline: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
  background-color: #1B89DE;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

.Button-red {
  background: #FB8888;
}

.Button-grey {
  background: #5E6472;
}