@import "./media-queries";

$margin: 5rem;
$checkbox-hw: 1.2rem;

.my-task-component {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 3px;
  align-items: center;

  .my-checkBoxInput-component {
    margin-left: $margin;
    height: $checkbox-hw;
    width: $checkbox-hw;

    .checkBoxInput-styled-span {
      border-radius: 50% 50%;
    }

    @include task-input-mq;
  }
  
  .task-input {
    margin-left: $margin;

    @include task-input-mq;
  }

  .task-paragraph {
    max-width: 60%;
    word-wrap: break-word;
    text-align: center;
  }

  .my-button-component {
    margin-right: $margin;

    @include my-task-button-component-mq;
  }
}
