$margin: 5rem;

.my-task-component {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 3px;
  align-items: center;
  height: auto;

  input {
    margin-left: $margin;
  }

  p {
    flex: 1;
    max-width: 60%;
    word-wrap: break-word;
    text-align: center;
  }

  .my-button-component {
    margin-right: $margin;
  }
}
