$main-color: #4D4D4D;
$second-color: deepskyblue;
$third-color: #FF2391;

$category-active: #77c53c;

$button-add-color: #67ce5d;
$button-delete-color: rgba(249, 0, 0, 0.72);
$button-edit-color: rgb(255, 228, 0);
$button-extend-color: rgba(132, 139, 142, 0.61);
$button-clear-color: rgba(132, 139, 142, 0.61);
$button-swap-color: rgba(174, 129, 222, 0.61);

$font-stack: KristenITC, sans-serif;
$font-size-standart: 16px;

$query-641px: 641px;
$query-780px: 780px;
$query-1200px: 1200px;
