@import './core/variables';

@font-face {
  font-family: KristenITC;
  src: url("./kristen-itc.TTF");
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
}

body, input, button, textarea {
  font-family: $font-stack;
  color: $main-color;
  outline: none;
}

button:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 1px 1px $second-color;
}

a {
  color: $second-color;
  text-decoration: none;
}
